@font-face {
    font-family: 'Myriad Pro Regular';
    src: url(../../fonts/MyriadProRegular.woff);
}

@font-face {
    font-family: 'Myriad Pro Light';
    src: url(../../fonts/Myriad-Pro-Light.ttf);
}

@font-face {
    font-family: 'Myriad Pro - Light Semi Ext';
    src: url(../../fonts/MyriadPro-LightSemiExt.woff);
}